body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.envelope {
  position: relative;
  width: 300px;
  height: 230px;
  background-color: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.envelope-top {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #f44336;
}
.envelope-body {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
}

.button {
  position: absolute;
  bottom: 70%;
  left: 40%;
  margin-top: 10px;
  z-index: 10;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 32px;
  height: 60px;
  border-radius: 50px 50px 0 0;
  background: rgb(245, 6, 6);
}

.button::before {
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.button::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

/* Tooltip styles */
.button:hover::after {
  content: attr(title); /* Show the 'title' attribute as tooltip */
  position: absolute;
  color: black; /* Text color of the tooltip */
  font-size: 24px;
}
.envelope.open .envelope-top {
  transform: translateY(-100%);
}

.envelope.open .button {
  display: none;
}
.message {
  padding: 30px;

  text-align: center;
}

.message h2 {
  color: #f44336;
  font-size: 32px;
}

.message p {
  color: #333;
  font-size: 16px;
}

@keyframes heartAnimation {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) rotate(360deg);
    opacity: 0;
  }
}

.heart {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 10px;
  animation: heartAnimation 5s linear infinite;
  animation-iteration-count: 1;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 32px;
  height: 60px;
  border-radius: 50px 50px 0 0;
  background: rgb(245, 6, 6);
}

.heart::before {
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
